<h1>Panscan</h1>



<h3>Epoch</h3>
<li>All Epoch <a href='/epoch/all'>/epoch/all</a></li>

<h3>Address</h3>
<li>Top Address Performance <a href='/address/top'>/address/top</a></li>
<li>Top Contract <a href='/transfer/top_contract'>/transfer/top_contract</a></li>
<li>Top Transfer <a href='/transfer/top_transfer'>/transfer/top_transfer</a></li>


<h3>Admin</h3>
<li>DB Stats <a href='/stats'>/stats</a></li>
<li>Console <a href='/console'>/console</a></li>
<li>Log <a href='/log'>/log</a></li>

  <%# get "/epoch/:id", to: "epoch#epoch"
  get "/address/:id", to: "epoch#address"
  get "/transfer/address/:id", to: "epoch#trans_addr"
  get "/transfer/:id", to: "epoch#transfer"
   %>