<h1>Panscan</h1>

<h3>Auth</h3>
<li>Username: <%= @cur_username %></li>
<li>Role: <%= @cur_role %></li>

<h3>Epoch</h3>
<li>All Epoch <a href='/epoch/all'>/epoch/all</a></li>

<h3>Address</h3>
<li>Top Address Performance <a href='/address/top'>/address/top</a></li>
<li>Top Contract <a href='/transfer/top_contract'>/transfer/top_contract</a></li>
<li>Top Transfer <a href='/transfer/top_transfer'>/transfer/top_transfer</a></li>

<h3>Group</h3>
<li>Top Group <a href='/address/group/top'>/address/group/top</a></li>

<h3>Task</h3>
<li>New Task <a href='/task/new'>/task/new</a></li>
<li>Workers <a href='/task/worker'>/task/worker</a></li>
<li>Tasks <a href='/task/all'>/task/all</a></li>

<h3>Admin</h3>
<li>DB Stats <a href='/stats'>/stats</a></li>
<li>Console <a href='/console'>/console</a></li>
<li>Log <a href='/log'>/log</a></li>

  <%# get "/epoch/:id", to: "epoch#epoch"
  get "/address/:id", to: "epoch#address"
  get "/transfer/address/:id", to: "epoch#trans_addr"
  get "/transfer/:id", to: "epoch#transfer"
   %>